body{

h1 , h3 , h4 , h5 ¨{

    font-family: $title-font;
    text-align: center;
    color: $titulo;
}

p {
    font-family: $paragraph-font;
    color: $parrafo;
    position: relative;
}
}

#portfolio{
h3{
    font-size:15px;
    font-weight:500;
    margin-bottom:0px;
}
}

#testimonials{
    h1{
        font-size:12px;
    }
    h3{
        font-size:10px;
    }
    h4{
        font-size:9px;
    }
}

#team{
    h1{
        font-size:9px;
    }
}

#clients{
    h1{
        font-size:8px;
    }
}

#contact{
    h1{
        font-size:8px;
    }
}

#wayne-foot{
    h1{
        font-size:9px;
    }
    h4{
        font-size:8px;
    }
}

#footer{
    h5{
        font-size:7px;
    }
}