body{

h1 , h3 , h4 , h5 ¨{

    font-family: $title-font;
    text-align: center;
    color: $titulo;
    font-size: $main-font-size;
}

p {
    font-family: $paragraph-font;
    color: $parrafo;
    
}
}

#portfolio{
h3{
    font-size:15px;
    font-weight:500;
    margin-bottom:0px;
}
}

#testimonials{ /*agregar mixin media para el tamanio del background celestin*/
    h3{
        font-size: 20px;
        font-weight: bold;
        margin: 10px 0 5px 0;
        margin-left: 140px; 
    }
    h4{
    font-size: 14px;
    color: $gris;
    margin: 0 0 15px 0;
    margin-left: 140px;
    }
    p {
        font-style: italic;
        margin: 0 0 15px 140px;
        display: block;
        padding: 0;

    }
}

#team{
    
}

#clients{
    
}

#contact{
    
}

#wayne-foot{
    h1{
        font-size:9px;
    }
    h4{
        font-size:8px;
    }
}

#footer{
    h5{
        font-size:7px;
    }
}