$celeste: #007BFF;
$blanco: #FFFFFF;
$gris: #6683A3;
$celestin:#ECF5FF;
$send: #0067D5;
$wayne: #004A99;
$iconos: #0068D7;
$subscribe: #0062CC;
$footer: #00428A;
$parrafo: #7C8B96;
$titulo: #405365;
$hov: #3395FF;

$title-font: 'Montserrat', sans-serif;
$main-font-size: 36px;
$paragraph-font: 'Open Sans', sans-serif;