#clients {
    background-color: $celestin;
}

    .zoom ¨{
        transition: transform .2s;
        &:hover {
            transform: scale(1.5);
        }

    background: url(../sections/clients/client-1.png);
    background: url(../sections/clients/client-2.png);
    background: url(../sections/clients/client-3.png);
    background: url(../sections/clients/client-4.png);
    background: url(../sections/clients/client-5.png);
    background: url(../sections/clients/client-6.png);
    background: url(../sections/clients/client-7.png);
    background: url(../sections/clients/client-8.png);

    
    } 
    
