#footer {
    width: 1385px;
    padding-top: 30px;
    background-color: $footer;
    text-align: center;
    color: $blanco;
    

    h5{
        font-family: $title-font;
        font-size: 14px;
    }
}