#team {

    background: url(../sections/team-01.jpg);
    background: url(../sections/team-02.jpg);
    background: url(../sections/team-03.jpg);
    background: url(../sections/team-04.jpg);

    border-radius: 20px;
}