#testimonials {

        background-color: $celestin;
        img{
            width: 120px;
            border-radius: 50%;
            float: left;
            position: relative;
            left: 30%;
        }
        
    h1{
        font-size: 36px;
            color: #283d50;
            text-align: center;
            font-family: $title-font;
            font-weight: 500;
            position: relative;
    }
}
